
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
   font-family: sans-serif;
}
a{
    text-decoration: none;
}
.container{
   width: 1140px;
   margin: 0 auto;
   position: relative;
}
.clear-fix{
    clear: both;
}

#header{
    padding: 15px 0;
}

#header .container .logo{
    width:30%;
    float: left;
}
#header .container .contact-info{
    width: 50%;
    float: right;
    margin-top: 1px;
  
}
#header .contact-info .contact-item{
    margin: 0 10px;
    float: left;
}
#header .contact-info .contact-item 
.contact-icon{
    float: left;
    width: 50px;
    height: 50px;
    background-color: #EE2E24;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
}

#header .contact-info .contact-item 
.contact-text{
    float: left;
    width: auto;
    margin-left: 20px;
} 
#header .contact-info .contact-item 
.contact-text p{
    padding: 5px 0;
}
#navber{
    background:#fff;
    z-index: 9999;
    border: 1px solid #ddd;
    height: 100px;
    text-align: center;
    padding: 30px 0 0 0;
}
#navber ul{
    list-style-type: none;
}
#navber ul li{
    display: inline-block;
}
#navber ul li a{
    display:inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    padding: 12px 15px;
    text-decoration: none;
}
#navber ul li a:hover{
    background: #EE2E24;
    box-shadow: 0 12px 15px rgba(343, 66 ,54, .5);
}
#slider img{
    width: 100%;
}
#banner{
    margin-top: -10px;
}
#banner .adBannerItem{
    text-align: center;
    width: 25%;
    float: left;
    background-color: #ddd;
    border-right: 1px solid rgba(68, 68, 68, .5);
}
#banner .adBannerItem:last-child{
    border-right: 0;
}
#banner .adBannerItem:hover{
    background: #999;
    box-shadow: 0 12px 15px rgba(343, 66 ,54, .5);
}
#banner .adBannerItem h3{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 16px;
    padding-top: 20px;
    color: #444;
}

#help{
   
    display: inline-block;
    background: #EE2E24;
    color: #444;
    padding: 0px 20px;
    padding-top: 10px;
    margin: 10px 20px;
    border-radius: 5px 5px 0 0;
    height: 60px;
    position: sticky;
}
#about h2{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: #444;
    padding: 30px 10px;
}
#about h2 span{
    color: #EE2E24;
}
#about h4{
    font-size: 18px;
    font-weight: 400;
    padding: 10px 10px; 
    letter-spacing: 1px; 
}
#about h4 span{
    color: #EE2E24;
}
#Courses{
    width: 100%/ 3;
}

#Courses h1{
     text-align: center;
     color: #999;
     font-size: 35px;
     font-weight: 600;
     padding: 10px 0 0 0;
}
#Courses p{
    text-align: center;
    font-size: 16px;
    color: #999;
    font-weight: 600;
}
.row{
   display: flex;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
}
#Courses{
   background: ;
}
#Courses .row .courses-item{
    width:40%;
    display: block;
    display: flexbox;
    padding: 30px 0 0;
}
#Courses .row .courses-item .contact-info{
  
}

#Courses .row .courses-item .contact-info img{
    width: 100%;
    display: block;
}

#Courses .row .courses-about{
    width: 35%;
    display: flexbox;
    padding: 30px 0 0;
}
#Courses .row .courses-about h3{
    font-size: 18px;
    font-weight: 400;
    color: #444;
}
#Courses .row .courses-about b{
    font-size: 25px;
    font-weight: 400;
    color: #999;
}
#Courses span{
    color: #EE2E24;
    font-size: 20px;
    padding: 15px 0 0 0;
}
#Courses a{
    background: #444;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    padding: 10px ;
    margin: 10px 5px 10px 5px;
    color: #fff;
    border-radius: 0 50px 50px 0;
}
#Courses a img{
    width: 40px;
}


#Courses .row .courses-img{
    width: 25%;
}
#Courses .row .courses-img img{
    width: 100%;
    padding: 30px 0 0;
    
}




#otherCourses{
    width: 100%;
    padding: 30px;
}
#otherCourses a{
    background: #EE2E24;
    display:inline-block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size:20px ;
    font-weight: 400;
    padding: 10px 25px ;
    border-radius: 50px 50px 50px 50px;
    margin: 40px 470px;
 
}
#otherCourses .container .form-blo{
    width: 40%;
    float: left;
}

#otherCourses .form-blo h2{
    color: #333;
    font-size: 30px;
    font-weight: 500;
    padding: 20px 0;
    
}
#otherCourses .container .form-blo form {
   padding: 0 0 0 20px;
   width: 100%;
}
#otherCourses .container .form-blo  form .form-item{
   
    width: 100%;
    height: 300px;
}
#otherCourses .container .form-blo  form .form-item .form-info{
    font-size: 14px;
    padding: 10px 20px;
    margin: 10px 10px;

}
#otherCourses .container .form-blo  form .form-item .form-info1{
    background: #EE2E24;
    font-size: 20px;
    padding: 10px 160px;
    color: #fff;
    border: none;
    margin-left: 7px;
}

#otherCourses .container .img{
    width: 50%;
    float: right;
    left: 0px;
    margin: 20px 0px 5px 50px;
}
